app:
  app_public_key: "public_key"
  app_private_key: ""
  cache_prefix: ""
  domain: ""
  timezone: ""
  env: "development"
  debug: true
server:
  host: "localhost"
  port: 8080
mysql:
  default:
    host: "localhost"
    port: 3306
    user: "root"
    password: ""
    database: "database"
    charset: "utf8mb4"
    collation: "utf8mb4_unicode_ci"
    prefix: ""
    strict: true
    engine: null
    options:
      1002: "SET NAMES utf8mb4"
redis:
  default:
    host: ""
    port: 6379
    password: ""
    database: 0
    timeout: 0
    persistent: false
    prefix: ""
oss:
  default:
    endpoint: ""
    endpoint_internal: ""
    endpoint_vpc: ""
    access_key_id: ""
    access_key_secret: ""
    region: ""
    bucket: ""
    arn: ""
